<h1>welcome</h1>

<%= link_to "send a message", new_message_path %>

<h3>Text a saved contact</h3>
<div class="contacts" >
  <% @contacts.each do |contact| %>
    <%= link_to contact.name, new_contact_text_contact_path(contact) %>
  <% end %>
</div>
